@model string
@{
    ViewBag.Title = "Home Page";
}

@ViewBag.nombre

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">


    <div class="container text-center" align="center">

        <h1 style="color: blue;">Reporte de Ventas Totales de FotosProyect</h1>
        <!-- <img src="~/Views/Home/img/58.jpg" alt="Imagen de ejemplo" height="250" width="600"> -->
        <img style="width:600px; height:250px;" src="https://fotografias.lasexta.com/clipping/cmsimages01/2019/08/09/2FD64335-1792-4E56-AE10-C42D0E00B456/58.jpg" />
        <br />
        <input type="button" class="btn btn-primary" value="Ir al reporte">
    </div>



<br />
<br />

<div class="container text-justify" align="justify">

    <p style="text-size: 16px;">
        Generar un reporte en formato PDF desde una aplicación web permite tener un mejor diseño 
        e implementar todos los componentes que necesitemos para que tenga un mejor formato, de igual
        puede funcionar obteniendo los datos desde una base de datos local o en internet, según lo que 
        se requiera.
    </p>

</div>
